.css-style {
  width: 100%;
}
  .css-style textarea {
    font-size: 20px;
    padding: 0;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    background-color: black;
}
